<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <svg width="300" height="100" viewBox="0 0 300 100" xmlns="http://www.w3.org/2000/svg">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

            text {
                font-family: 'Orbitron', sans-serif;
                font-weight: 700;
                font-size: 40px;
                fill: #333;
            }

            .highlight {
                fill: #CC7700;
            }
        </style>
        <text x="10" y="60">I</text>
        <text x="23" y="60" class="highlight">nn</text>
        <text x="80" y="60">ovaByte</text>
    </svg>

</body>

</html>